---
layout: article
---
-force_locale current_page
- wrap_layout :layout do
    %p.meta
        =delocalized_date current_page.date
        %a{href: get_root_url(current_page) }
            %i.home.icon-home

    %h1.title 
        =current_page.title

    #post
        %article= yield
    %p.categories
        %strong 
            #{t :categories}:
        =tags(current_page)

    .newsletter
        = partial 'partials/post/subscribe.' + I18n.locale.to_s

    #related
        = partial 'partials/post/disqus'
        = partial 'partials/post/related.' + I18n.locale.to_s
