-force_locale current_page
!!!
#{'<!--[if lt IE 7 ]> <html class="ie ie6" lang="'}#{I18n.locale}#{'"> <![endif]-->'}
#{'<!--[if IE 7 ]> <html class="ie ie7" lang="'}#{I18n.locale}#{'"> <![endif]-->'}
#{'<!--[if IE 8 ]> <html class="ie ie8" lang="'}#{I18n.locale}#{'"> <![endif]-->'}
/ [if (gte IE 9)|!(IE)]><!
%html{lang: "#{I18n.locale}"}
  / <![endif]
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "tmcKOx1zMYBWB2eWotWenUeXCZ2xuaTo5CHRjC6rjdw", name: "google-site-verification"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/

    %meta{content: (tplvar 'description', data, current_page), name: "description"}/
    %meta{content: (tplvar 'keywords', data, current_page), name: "keywords"}/
    %meta{content: (tplvar 'author', data, current_page), name: "author"}/

    %title
      = data.page.title
      \-
      = tplvar 'description', data, current_page

    %link{href: "feed.xml", rel: "alternate", title: (tplvar 'description', data, current_page) + " ATOM Feed", type: "application/atom+xml"}/
    
    =stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin,latin-ext'
    =stylesheet_link_tag 'http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css'
    =stylesheet_link_tag 'http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'

    =stylesheet_link_tag 'http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.1/jquery.qtip.min.css'
    =stylesheet_link_tag 'all.css'
    =stylesheet_link_tag 'syntax.css'

    /[if IE 7]
      =stylesheet_link_tag 'http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css'

    =favicon_tag 'favicon.ico'

  %body
    %ul.langs.unstyled
      - if I18n.locale == :pl
        %li
          =tag :img, :src => "/images/pl.png"
        %li
          %a{:href => "/index.html"}>
            = tag :img, :src => "/images/gb_g.png"
      -else
        %li
          %a{:href => "/pl/index.html"}>
            =tag :img, :src => "/images/pl_g.png"
        %li
          = tag :img, :src => "/images/gb.png"


    .container
      .four.columns.sidebar
        %nav
          %h1>
          %span#logo-container
            %a{href: get_root_url(current_page) }
              %span.logo-bracket> {
              m
              %span.logo-bracket> }

          = partial 'partials/intro.' + I18n.locale.to_s

          = partial 'partials/google_search'
          -if blog.tags
            %h5.menu 
              =t :article_categories
            =tag_cloud
          %hr/
          #social
            #{t :follow_me}:
            #stalker
              %a{href: "https://bitbucket.org/chesster/", title: "chesster@BitBucket"}
                %i.icon-bitbucket-sign
              %a{href: "https://github.com/chesster/", title: "chesster@Github"}
                %i.icon-github-sign
              %a{href: "https://twitter.com/tweetmalikpro", title: "tweetmalikpro@Twitter"}
                %i.icon-twitter-sign
              %a#rss{href: "http://feeds.feedburner.com/malikpro"+(get_root_tag current_page) , title: "RSS"}
                %i.icon-rss-sign
          %hr/
      .eleven.columns.content
        #home
          = yield
        .footer
          .disclaimer
            = partial 'partials/footer.' + I18n.locale.to_s


    =javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false'
    =javascript_include_tag 'http://code.jquery.com/jquery-1.10.1.min.js'
    =javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.1/jquery.qtip.min.js'
    =javascript_include_tag '/javascripts/all.js'
    =google_analytics_tag
