---
title: Archives
pageable: false
---

%h2
  %i.icon-bookmark
  Blog posts in 
  - case page_type
  - when 'day'
    = Date.new(year, month, day).strftime('%b %e %Y')
  - when 'month'
    = Date.new(year, month, 1).strftime('%b %Y')
  - when 'year'
    = year
= partial('partials/articles', :locals => {:all_articles => page_articles})


= partial 'partials/pages'